.edit_user {
  background-color: #FFFFFF;
  padding: 15px;
  margin: 5%;
  border-radius: 10px;
  outline: 1px solid #5DFDCB;
  border-width: 1px;

  p {
    color: #1B263B;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.user-icon-frame {
  margin-bottom: 15px;
  align-items: center;
  height: auto;

  .user-icon2 {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}


.form2 {
  height: 100px;
  min-height: 30vw;
  min-width: 100%;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #1B263B;
  border-width: 1px;
  font-size: 13px;
  color: #1B263B;
}

.back {
  display: inline-block;
  text-decoration: none;
  color: #1B263B;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
  }
}