.navbar-header {
  clear: both;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  padding: 0 16px;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #f024eb 0%, #3772ff, #5dfdcb 100%);
}

h1 {
  width: auto;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 25px;
  padding: 5px;
}

.main-panel {
  margin: 0 auto;
  flex: 3;
}

.tweets-list,
.comment-list {
  margin-bottom: 5px;
  background-color: #f4faff;
}

.media {
  background-color: #ffffff;
  border: 0.5px solid #4c5c68;
  margin: 2px 0;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0.5px 0.5px #4c5c68;

  &-left {
    padding: 0 5px;
  }

  a {
    text-decoration: none;
    color: #19252f;
  }
}

.inner-comment {
  margin-top: 10px;
  padding: 5px 0;
  background-color: #ffffff;
  // border-top: 0.5px dashed #4c5c68;  
  border-bottom: 0.5px dashed #4c5c68;  
}

.media-left,
.text {
  display: table-cell;
  vertical-align: top;
}

.text {
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  width: 100%;
}

.tweet-user,
.comment-user {
  text-align: center;
  background-color: #3da9fb;
  opacity: 0.9;
  border-radius: 10px;

  a {
    padding: 5px;
    color: #ffffff;
    background-color: none;
    text-decoration: none;
  }

  :hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.side-panel {
  background-color: #ffffff;
  padding: 1%;
  margin: 2px 0 0 5px;
  border: 1px solid #5DFDCB;
  box-shadow: 0.5px 0.5px #07e69f;
  border-radius: 20px;
  width: auto;
  flex: 1;
  height: 180px;
}

.profile-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.user-icon {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.user-name {
  width: auto;
  height: auto;
  text-align: center;

  a {
    display: inline-block;
    text-decoration: none;
    color: #1b263b;
    font-weight: bold;
    margin-left: 5px;
  }

  :hover {
    text-decoration: underline;
  }
}

.post-panel {
  background-color: #25deef;
  text-align: center;
  height: 30px;
  margin: 5px 20px;
  opacity: 0.9;
  border-radius: 30px;
  cursor: pointer;
}
:hover {
  opacity: 1;
}

.post-link {
  color: #ffffff;
  background-color: none;
  padding: 5px;
  opacity: 0.9;
  font-weight: bolder;
  font-size: 15px;
}

.login-button {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  margin: auto;
}

.login-link {
  color: #ffffff;
  font-weight: bolder;
  display: block;
  justify-content: center;
  padding: 8px 40px;
}
.logout-bar {
  width: 95%;
  margin: 0 auto;
  padding: 5px 0 10px 0;
  text-align: right;
}

.logout-link {
  color: #4c5c68;
  border: 1px solid #4c5c68;
  border-radius: 25px;
  padding: 0 10px;
  background-color: #ffffff;
}
