h3 {
  color: #1B263B;
  text-align: center;
  padding: 5px 0;
  height: 50px;
  font-size: 24px;
}

.new_user {
  background-color: #FFFFFF;
  padding: 15px;
  // text-align: center;
  margin: 5%;
  border-radius: 10px;
  outline: 1px solid #5DFDCB;
  border-width: 1px;
}

.actions {
  justify-content: center;
  text-align: center;
}

.button {
  border: none;
  height: 40px;
  width: 170px;
  padding: 6px 10px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #3772ff;
  color: #FFFFFF;
  justify-content: center;
  opacity: 0.9;
  margin: 5px;
  font-size: 15px;
}
  :hover {
    opacity: 1;
  }

.github-button {
  display: inline-block;
  border: none;
  height: 40px;
  width: 170px;
  padding: 9px 10px;
  border-radius: 30px;
  font-weight: bold;
  background-color: rgb(27, 25, 25);
  color: #FFFFFF;
  justify-content: center;
  opacity: 0.9;
  margin: 5px;
  font-size: 15px;
  text-decoration: none;
}
  :hover {
    opacity: 1;
  }

.form-control {
  color: #1B263B;
}
  

.form {
  border-radius: 5px;
  border: 1px solid #1B263B;
  border-width: 1px;
  height: 35px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
}

.field {
  margin-bottom: 15px;
}

.to-login-link {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 3px;
  height: 20px;
  color: #1B263B;
  font-size: 14px;
}

.to-signup-link {
  display: inline-block;
  border: none;
  height: 40px;
  width: 170px;
  padding: 10px 10px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #3772ff;
  color: #FFFFFF;
  opacity: 0.9;
  margin: 5px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
  :hover {
    opacity: 1;
  }

label, em {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  color: #1B263B
}

.check-box {
  margin-right: 5px;
}

.sign-up {
  margin-top: 15px;
}
  signup {
    font-size: 13px;
  }