.navbar-header {
  clear: both;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,  #f024eb 0%, #3772ff, #5DFDCB 100%);
}
  h1 {
    width: auto;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 25px;
    padding: 5px;
  }

.main-wrapper {
  width: 95%;
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
}

main {
  flex: 3;
}

.tweets-list {
  margin-bottom: 20px;
  background: #F4FAFF;
  list-style-type: none;

  li {
    background-color: #FFFFFF;
    border: 0.5px solid #4c5c68;
    margin: 2px 0;
    border-radius: 3px;
    padding: 5px;
  }
}

.media-left, .tweet-text {
  display: table-cell;
  vertical-align: top;
}

.media-left {
  padding: 0 5px;
}

.tweet-text {
  padding: 5px 5px 5px 15px;
  font-size: 14.5px;
}

.tweet-user {
  text-align: center;
  background-color: #3da9fb;
  opacity: 0.9;
  border-radius: 10px;
  

  a {
    padding: 5px;
    color: #FFFFFF;
    background-color: none;
    text-decoration: none;
  }

  :hover {
    opacity: 1;
    text-decoration: underline;
  }
}

aside {
  flex: 1;
  display: block;
  position: relative;
  padding-left: 15px;
  flex-wrap: wrap;
}

.side-panel {
  background-color: #FFFFFF;
  padding: 5%;
  margin-top: 2px;
  height: auto;
  border: 1px solid #5DFDCB;
  border-radius: 10px;
  width: auto;
}

.profile-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

@mixin user-icon-base {
  width: 75px;
  height: 75px;
  background-color: #F038FF;
  border-radius: 50px;
  text-align: center;
  padding: 25px; 
}

.user-icon {
  @include user-icon-base;
  margin-right: 10px;
}

.user-icon2 {
  margin: 3px;
}

.user-name {
  width: auto;
  height: auto;
  text-align: center;
  
  a {
    display: inline-block;
    text-decoration: none;
    color: #1B263B;
    font-weight: bold;
  }

  :hover {
    text-decoration: underline;
  }
}

.post-panel {
  background-color: #25deef;
  text-align: center;
  height: 30px;
  margin: 5px 20px;
  opacity: 0.9;
  border-radius: 30px;
  cursor: pointer;
}
  :hover {
    opacity: 1;
  }

.post-link {
  color: #FFFFFF;
  background-color: none;
  padding: 3px;
  opacity: 0.9;
  font-weight: bolder;
}


.login-button {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  margin: auto;
 }

.login-link {
  color: #FFFFFF;
  font-weight: bolder;
  display: block;
  justify-content: center;
  padding: 8px 40px;
}
.logout-bar {
  width: 95%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: right;
}

.logout-link {
  color: #4c5c68;
  border: 1px solid #4c5c68;
  border-radius: 25px;
  padding: 0 10px;
  background-color: #FFFFFF;
}