h3 {
  color: #1b263b;
  text-align: center;
  padding: 5px 0;
  height: 50px;
  font-size: 24px;
}

.new_user {
  background-color: #ffffff;
  padding: 15px;
  margin: 5%;
  border-radius: 10px;
  outline: 1px solid #5dfdcb;
  border-width: 1px;
}

.actions {
  justify-content: center;
  text-align: center;
}

.github-button {
  padding: 9px 10px;
  background-color: rgb(27, 25, 25);
}

.form-control {
  color: #1b263b;
}

.form {
  border-radius: 5px;
  border: 1px solid #1b263b;
  border-width: 1px;
  height: 35px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #1b263b;
}

.field {
  margin-bottom: 15px;
}

.to-login-link {
  margin: 10px 0 3px 0;
  height: 20px;
  color: #1b263b;
}

.to-signup-link {
  padding: 10px 10px;
  text-align: center;
}

label,
em {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  color: #1b263b;
}

.check-box {
  margin-right: 5px;
}

.sign-up {
  margin-top: 15px;
}
  .signup {
    font-size: 13px;
  }

.error-message {
  margin: 0 5%;
  justify-content: center;

  ul {
    background-color: #fff0f3;
    border: 0.5px solid #ef709d;
    border-radius: 10px;
    padding: 10px;
  }

  li {
    margin-left: 15px;
    color: #c9184a;
  }
}
