// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin default-margin {
  margin: 5%;
}

@mixin none-textdeco {
  text-decoration: none;
}

.sub-bar {
  width: 95%;
  margin: 3px 5% 5px;
  justify-content: flex-start;

  a {
    @include none-textdeco;
    color: #1b263b;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 5px 5px 5px 0;
    border: 1px solid #4c5c68;
    border-radius: 25px;
    padding: 0 8px;
    font-size: 15px;
    background-color: #ffffff;
  }
}

.top-page {
  font-weight: bold;
}

.user-name2 {
  :hover {
    text-decoration: none;
  }
}

@mixin base-panel {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  outline: 1px solid #5dfdcb;
  border-width: 1px;
}

.panel {
  @include default-margin;
  @include base-panel;
  box-shadow: 3px 3px #07e69f;
}

.panel2 {
  @include base-panel;
  margin-top: 2px;
  box-shadow: 1px 1px #07e69f;
}

.user-icon2,
.nameicon-panel,
.introduction-panel {
  justify-content: center;
  text-align: center;
}

.subject-user-name,
.edit-link {
  color: #1b263b;
  display: inline-block;
}

.edit-button {
  text-align: right;
  margin: 0 5% 7px 0;
}

.edit-link {
  @include none-textdeco;
  font-size: 14px;
  border: 1px solid #4c5c68;
  border-radius: 25px;
  padding: 3px 10px;
}

@mixin user-icon-base {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.user-icon2 {
  @include user-icon-base;
  display: inline-block;
}

#user_profile_image {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

.user-name {
  width: auto;
  height: auto;
  text-align: center;
}

.subject-user-name {
  margin-top: 5px;
  font-weight: bold;

  :hover {
    @include none-textdeco;
  }
}

.introduction {
  background-color: #ffffff;
  padding: 15px;
  @include default-margin;
  border-radius: 10px;
  outline: 0.5px solid #1b263b;
  border-width: 1px;
  text-align: left;
  font-size: 14.5px;
}
